<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>RTI</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-style.css">
  <link rel="stylesheet" href="assets/css/owl.css">

</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <div class="logo">
            <img src="assets\images\orgi.png" width="500" height="200">

          </div><br>
        </header>
        <br><br><br>


        <!-- Page Heading -->
        <div class="page-heading">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h1>Search Utility</h1>
              </div>
            </div>
          </div>
        </div>



        <!-- Search Box -->
        <section id="search" class="alt">
          <form method="get" action="#">
            <label for="select-box">Please select search category:&nbsp; &nbsp;&nbsp;</label>
            <select id="select-box">
              <option value="option1">Select option</option>
              <option value="option2">Name</option>
              <option value="option3">Subject</option>
              <option value="option4">Date</option>
            </select>&nbsp;&nbsp;&nbsp;
            <input type="text" name="search" id="search" placeholder="Search..." />
            <button class="search-btn"><i class="fa fa-search"></i></button>
          </form>

        </section>
        <!-- Contact Form -->
        <!-- Table content goes here -->
        <section class="contact-form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <table>
                      <tr>
                        <th>Sr.no</th>
                        <th>Application Id</th>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Date</th>
                      </tr>

                    </table>
                  </div>
                </form> 
              </div>
              <div class="col-md-6">
                 <iframe src="about:blank" width="100%" height="700px" ></iframe>

                  <div class="col-md-12">
                    <fieldset>
                      <button type="reply" id="form-reply" class="button">Review Of Reply</button>
                    </fieldset>
                  </div>
                
              </div>
              
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

      <div class="inner">



        <!-- Menu -->
        <nav id="menu">
          <ul>
            <li><a href="index.html">DASHBOARD</a></li>


            <li>
              <span class="opener">APPLICATION</span>
              <ul>
                <li><a href="newentry.html">New Entry</a></li>
                <li><a href="openentry.html">Open Entry</a></li>

              </ul>
            </li>
            <li>
              <span class="opener"> EDIT</span>
              <ul>
                <li><a href="search_utility.html">Search Utility</a></li>
                <li><a href="preparation.html">Preparation Reply</a></li>
                <li><a href="finalreply.html">Generating Final Reply</a></li>
              </ul>
              <span class="opener"> REPORTS</span>
              <ul>
                <li><a href="#">Closing Application</a></li>
                <li><a href="#">Receive Reports</a></li>
                <li><a href="#">Pending To Close</a></li>
              </ul>
              <li><a href="login.html">LOGOUT</a></li>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>







  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/transition.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/custom.js"></script>
</body>


</body>

</html>